.ui-block-navigation-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  > .name {
    font-weight: 400;
    margin-right: 10px;
  }
  > .items {
    flex: 1;
    font-size: 13px;
    > .item {
      font-weight: 600;
      text-decoration: none;
      margin-right: 5px;
      &.active,
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
