@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&subset=latin-ext');
$font-family: 'Raleway', sans-serif;

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: $font-family;
  font-weight: 300;
  cursor: default;
}

a {
  color: #000;
}

* {
  box-sizing: border-box;
}
